@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --gold: #ffd400;
  --gold-hover: #ffdd32;
  --white: #fff;
  --black: #000;
  --red: #760031;

  /* font family */
  --font-title: "Inter", sans-serif;
  --font-text: "Roboto", sans-serif;
}

body {
  background-color: var(--black);
}

/* =========================================== */
/* DEBUT HERO SECTION (navbar + header) 
   APEMBET-ALECK Virgile Yann*/
/* =========================================== */
.hero-header {
  height: 60vh;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-text);
  margin-bottom: 2rem;
}

.hero-header-nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-logo {
   font-family: var(--font-title);
}

.gold {
   color: var(--gold);
}

.hero-header {
   
}

/* =========================================== */
/* FIN HERO SECTION (navbar + header) */
/* =========================================== */

/* =========================================== */
/* DEBUT SECTION NOS SERVICES
   BOTOKO Steven */
/* =========================================== */

.services {
    padding: 80px 10%;
    background-color: var(--white);
}


.section-header {
    text-align: center;
    margin-bottom: 50px;
}


.section-header h2 {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700
}


.section-header p {
    font-family: var(--font-text);
    color: #555;
}


.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.service-card {
    background-color: var(--white);
    padding: 35px 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}


.service-card i {
    font-size: 45px;
    color: var(--gold);
    margin-bottom: 20px;
}


.service-card h3 {
    margin-bottom: 15px;
}
.service-card h3 { font-family: var(--font-title); }


.service-card p {
    color: #555;
    line-height: 1.6;
    font-family: var(--font-text);
}


/* =========================================== */
/* FIN SECTION NOS SERVICES  */
/* =========================================== */

/* =========================================== */
/* DEBUT SECTION REALISATIONS/PORTOFOLIO
   BOTOKO Steven */
/* =========================================== */

.portfolio {
    padding: 80px 10%;
    background-color: #f8f8f8;
}


.portfolio-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}


.portfolio-nav button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
   background-color: #eee;
     color: var(--black);
    cursor: pointer;
    font-family: var(--font-text)
}


.portfolio-nav .active {
    background-color: var(--gold);
    color: var(--black);
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.gallery-item {
    overflow: hidden;
    border-radius: 15px;
    font-family: var(--font-text);
}


.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.gallery-item figcaption {
    text-align: center;
    padding: 15px;
}


.portfolio-footer {
    text-align: center;
    margin-top: 40px;
}


.btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--gold);
    color: var(--black);
    text-decoration: none;
    border-radius: 30px;
    font-family: var(--font-title);
}
@media (max-width: 992px) {
  .services-container { grid-template-columns: repeat(2, 1fr); }
  .gallery { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 480px) {
  .services-container { grid-template-columns: 1fr; }
  .gallery { grid-template-columns: 1fr; }
  .portfolio-nav { flex-wrap: wrap; }
}

/* =========================================== */
/* FIN SECTION REALISATIONS/PORTOFOLIO */
/* =========================================== */

/* DEBUT SECTION NOTRE EQUIPE
   BRISSAM JOSUE */

.team {
  background: var(--black);
  padding: 1rem;
  margin-bottom: 2rem;
}

.team-header {
  text-align: center;
  margin-bottom: 2rem;
}

.team-header h2 {
  font-size: 2rem;
  font-family: var(--font-title);
  font-weight: 700;
  color: var(--gold);
  margin-bottom: 1rem;
}

.team-header p {
  font-size: 1rem;
  font-family: var(--font-text);
  font-weight: 400;
  color: var(--white);
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.team-card {
  background: var(--red);
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  transition: 0.3s;
}

.team-card:hover {
  transform: translateY(-8px);
}

.team-card .fa-user {
  font-size: 4rem;
  color: var(--gold);
  margin-bottom: 1rem;
}

.team-card h3 {
  font-size: 1.3rem;
  font-family: var(--font-title);
  color: var(--white);
  margin-bottom: 0.5rem;
}

.team-card p {
  font-size: 1rem;
  font-family: var(--font-text);
  margin-bottom: 1.5rem;
  color: var(--white);
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.team-social a {
  color: var(--gold);
  font-size: 1.2rem;
  transition: 0.3s;
}

.team-social a:hover {
  color: var(--gold-hover);
}

/*======== TABLETE ======== */
@media (min-width: 768px) {
  .team {
    padding: 2rem 3rem;
  }

  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*======== ordinateur ======== */
@media (min-width: 1024px) {
  .team {
    padding: 2rem 4rem;
  }

  .team-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* =========================================== */
/* FIN SECTION NOTRE EQUIPE */
/* =========================================== */

/* =========================================== */
/* DEBUT SECTION CONTACT (footer)
   GOMA KETSIA */
/* =========================================== */

.moyen_contact{
    display: grid;
    grid-template-areas: "cont_coordonée  cont_form cont_form"
                        "cont_coordonée  cont_form cont_form";
    height: 500px;
    gap: 50px;
    width: 100%;
    margin: 20px auto 0px;
    padding: 2rem 4rem;
    background-color: var(--red);
}
.cont_coordonée{
    grid-area: cont_coordonée;
    background-color: var(--cream-deep);
    padding: 20px;
    border-radius: 5px;
    border:none ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont_h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    font-family: var(--font-title);
}
.cont_small{
    color: var(--white);
    font-family: var(--font-text);
}
.ls_contact{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    font-family: var(--font-text);
}
.cont_item{
    display: flex;
    height: 70px;
    padding: 20px;
}
.icone-doree {
    color: var(--gold);
    font-size: 20px;
    vertical-align: middle;  
}
.cont_span1{
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    font-family: var(--font-text);

}
.cont_a{
    text-decoration: none;
    color: var(--white);
    font-size: 0.8rem;
    font-family: var(--font-text);
}
.cont_span2 , .form_lab{
    color: var(--gold);
}
small{
    font-size: 0.8rem;   
}



.contact_form{
    grid-area: cont_form;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.from_item{
    display: flex;
    flex-direction: column;
}
input[type="text"], input[type="email"]{
    padding: 10px 0px;
    border-radius: 5px;
    color: var(--white); 
    background-color: var(--black);
    border: none;

}
textarea{
    padding: 50px 0px;
    border-radius: 5px;
    border: none;
    color: var(--white); 
    background-color: var(--black);
}
input[type="submit"]{
    width: 200px;
    padding: 20px;
    background-color: var(--gold);
    border:none;
    color: var(--black);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}
.form_h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    font-family: var(--font-title);
}
footer{
   padding: 50px ;
   color: var(--white);
   height: 100px;
   text-align: center;
   font-family: var(--font-text);
}
@media screen and (max-width: 1066px){
    .moyen_contact{
        display: grid;
        grid-template-areas: "cont_coordonée"
                            " cont_coordonée"
                            "cont_form"
                            "cont_form";
        height: auto;
        gap: 50px;
        width: auto;
    }
    .cont_coordonée{
        grid-area: cont_coordonée;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contact_form{
        grid-area: cont_form ;
    }
    input[type="submit"]{
        margin-top: 10px;
    }

}
@media screen and (max-width: 768px){

    .moyen_contact{
        display: grid;
        grid-template-areas: "cont_coordonée"
                            " cont_coordonée"
                            "cont_form"
                            "cont_form";
        height: auto;
        gap: 50px;
        width: auto;
    }
    .cont_coordonée{
        grid-area: cont_coordonée;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contact_form{
        grid-area: cont_form ;
    }
    
    input[type="submit"]{
        margin-top: 10px;
    }
    input[type="text"] , textarea{
        margin: 20px 0px;
    }

}
@media screen and (max-width: 375px){

    .moyen_contact{
        display: grid;
        grid-template-areas: "cont_coordonée"
                            " cont_coordonée"
                            "cont_form"
                            "cont_form";
        height: auto;
        gap: 50px;
        width: auto;
    }
    .cont_coordonée{
        grid-area: cont_coordonée;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contact_form{
        grid-area: cont_form ;
    }
    input[type="submit"]{
        margin-top: 10px;
    }
    input[type="text"] , textarea{
        margin: 20px 0px;
    }

    
}

/* =========================================== */
/* DEBUT SECTION CONTACT (footer) */
/* =========================================== */
